body {
  margin: 0;
  padding: 0;
  font-size: 13px;
  font-family: Arial, Helvetica, sans-serif;
}
a {
  text-decoration: none;
}
.header {
  width: 100%;
  height: 60px;
}
.header__nav {
  display: flex;
  justify-content: flex-end;
}
.header__nav-list {
  list-style: none;
  width: 250px;
  height: auto;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.header__nav-link {
  color: #000;
}
.header__searchlabs, .header__nav-icon {
  width: 20px;
  height: 20px;
}
.header__nav-profile-image {
  border-radius: 50%;
}
.main{
  text-align: center;
  margin-top: 150px;
}
.main__logo{
  width: 530px;
  margin: 0 auto;
  margin-bottom: 35px;
}
.main__logo-img {
  width: 300px;
}
.main__search {
  width: 530px;
  margin: 0 auto;
  margin-bottom: 35px;
}
.main__search-container {
  width: 525px;
  border-radius: 100px;
  border: 1px solid #dfe1e5;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 1px 6px 0 #20214447;
  border-color: #dfe1e500;
}
.main__search-container:hover {
  border-color: #dfe1e5;
}
.main__search-icon {
  background-image: url(../images/lupa.svg);
  background-size: cover;
  width: 25px;
  height: 25px;
  margin-left: 20px;
  margin-right: 15px;
  opacity: 0.5;
}
.main__search-input {
  width: 450px;
  height: 40px;
  border: none;
  outline: none;
}
.main__search-micro {
  background-image: url(../images/busqueda_por_voz.svg);
  background-size: cover;
  width: 25px;
  height: 25px;
  margin-right: 20px;
}
.main__search-voice-icon {
  background-image: url(../images/busqueda_por_imagen.svg);
  background-size: cover;
  width: 25px;
  height: 25px;
  margin-right: 20px;
}
.main__buttons {
  width: 530px;
  margin: 0 auto;
}
.main__buttons-item {
  display: inline-block;
}
.main__button {
  height: 36px;
  background-color: #f8f9fa;
  border: none;
  font-size: 14px;
  border-radius: 5px;
  padding: 0 15px;
  margin-right: 15px;
  cursor: pointer;
}
.main__button:hover {
  outline: 1px solid #dfe1e5;
  box-shadow: 0 1px 3px 0 #20214447;
}
.footer {
  width: 100%;
  height: auto;
  position: absolute;
  bottom: 0;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  font-size: 13px;
  background-color: #f2f2f2;
}
.footer__nav-list {
  list-style: none;
  display: flex;
  align-items: center;
  margin: 10px;
  padding-left: 20px;
}
.footer__nav--left {
  justify-self: left;
}
.footer__nav--right {
  justify-self: right;
}
.footer__nav-link {
  color: #1f1f1f;
  margin-right: 20px;
}